.buttonContainer{
    width: 100%;

}

button{
    width: 100%;
    border: 1px solid #1f0150;
    border-radius: 5px;
    color: #ffffff;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,39,122,1) 0%, rgba(98,123,242,1) 0%, rgba(32,11,104,1) 44%, rgba(1,7,115,1) 100%, rgba(122,0,235,1) 100%, rgba(0,255,171,1) 100%);

}