/* container do menu */
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #000154;
    padding: 1em;
}
/* regras da lista de link */
.list{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;

}
/* regras dos links */
.item{
    margin-right: 1em;
    color: azure;
}

.logo{
    width: 120px;
}